*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  line-height: 1.8;
  color: #adb5bd;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.input-dark {
  background-color: #0D0E0E;
  border-radius: 4px;
}

.input-dark>input,
.input-dark>span {
  background-color: transparent;
  border: none;
}

.input-dark>input:focus {
  color: white;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}